<!DOCTYPE html>
<html lang="en">

<body>
    {% macro select_currency(currencies) %}
    <h2>Macros currency</h2>
    <div>
        1 {{currency_from|upper}} = {{currency_to|upper}} {{rate}}
    </div>
    <form>
        from:<select name="currency_from" id="">
            {% for curr in currencies %}
            <option value="{{curr}}" {{'selected="selected"' if currency_from==curr}}>{{curr}}</option>
            {% endfor %}
        </select>
        to:<select name="currency_to" id="">
            {% for curr in currencies %}
            <option value="{{curr}}" {{'selected="selected"' if currency_to==curr}}>{{curr}}</option>
            {% endfor %}
        </select>
        <small class="form-text mb-1">Chosen currency what you want to rate</small>
        <button type="submit" class="btn btn-primary btn-sm m-2">Submit</button>
    </form>
    {% endmacro %}
</body>

</html>